In [98]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

##### Extract, Transform, and Load

In [95]:
def extract(page):
    headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.71 Safari/537.36'}
    url = ''
    if page == 0:
        url = 'https://www.indeed.com/jobs?q=data+analyst&jt=fulltime&explvl=entry_level&fromage=7'
    else:
        url = f'https://www.indeed.com/jobs?q=data+analyst&jt=fulltime&explvl=entry_level&fromage=7&start={page}'
    
    response = requests.get(url,headers)
    soup = BeautifulSoup(response.content, 'html.parser')

    return soup

In [117]:
def transform(soup):

    divs = soup.find_all('div', class_='job_seen_beacon')
    for item in divs:
        title = item.find('h2').text.split('new')[1].strip()
        company = item.find('span', class_='companyName').text.strip()
        summary = item.find('li').text.strip().replace('\n', '')
        day = item.find('span', class_='date').text.strip()
        try:
            attribute = item.find('div', class_='attribute_snippet').text.strip()
        except:
            attribute = ''
        
        job = {
            'title' : title,
            'company': company,
            'summary': summary,
            'attribute':attribute
        }
        job_list.append(job)
    return

EmployerActive 3 days ago
Posted1 day ago
PostedToday
Posted5 days ago
PostedJust posted
Posted2 days ago
PostedToday
PostedToday
PostedToday
Posted1 day ago
PostedToday
Posted6 days ago
Posted2 days ago
Posted2 days ago
PostedToday

In [118]:
job_list = []
for i in range(0,40,10):
    info_extracted = extract(i)
    transform(info_extracted)
df = pd.DataFrame(job_list)
df

,title,company,summary,attribute
0,Data Analyst,Brooksource,Extract and analyze data sets from various dat...,
1,Data Analyst,PRIMUS,Adding more data and updating data to build da...,"$100,000 - $115,000 a year"
2,Data Analyst/Remote,CDC Foundation ( Contract),"Perform basic data management, data cleaning a...","$66,000 - $72,000 a year"
3,Data Analyst,System Innovators,Develop database objects and scripts to load d...,
4,Data Analyst,LightBox Employer L L C,1-3 of data analytics (educational or professi...,
5,"Analyst, Data",Molina Healthcare,Job Summary Designs and implements processes a...,
6,Data Analyst,Atlas Executive Consulting,Develop and maintain databases and data systems.,
7,Excel Specialist for Data Analyst Role at E-Co...,The Elite Team Inc,The Data Analyst will be analyzing advertising...,$28 - $35 an hour
8,Associate Data Analyst (Remote - Nationwide),Lumeris,Continues to dig for information beyond typica...,
9,Data Analyst - Merchandising (Full-Time Remote...,TARGET,Merchandising teams rely on this team of analy...,
10,Data Analyst I / 40 Hours/ MGH- Primary Care,Massachusetts General Hospital(MGH),"The Data Analyst will ensure accuracy of data,...",
11,Data Analyst-Quality,"MSO of Puerto Rico, LLC",We're committed to bringing passion and custom...,
12,Entry Level Position / Free Bootcamp - Data En...,PCS Global Tech,"Provides plan with data, reporting, and analys...","$60,000 - $72,000 a year"
13,Data Analyst,Cianbro,Organize available data across 6+ data reposit...,
14,Data Analyst,Northwell Health,Identifies issues in data quality that would i...,
15,Data Analyst,Cianbro,Organize available data across 6+ data reposit...,
16,Data Analyst,Northwell Health,Identifies issues in data quality that would i...,
17,Business Analyst,RentMoola,1-3 years’ experience as a Business Analyst in...,
18,Junior Data Analyst,FocusKPI Inc.,Experience deriving actionable insights from d...,
19,Data Analyst-BA,Exavalu Inc,Data Mapping experience in mapping Legacy data...,"$70,000 - $120,000 a year"
20,Data Analyst,Partners In Health,Conduct regular data cleaning and implement da...,"$50,000 - $60,000 a year"
21,Data Analyst,RiverBank,Compile data from a variety of existing system...,"From $50,000 a year"
22,Sky Harbor Data Analyst-- $30/hour,"Ace Parking Management, Inc.",Demonstrated critical thinking and analytical ...,$30 an hour
23,IT Claims Data Analyst,"Corporate Systems Associates, Inc.",ETL and data processing development includes o...,$35 - $55 an hour
24,Litigation Data Analyst - 2nd Shift (Remote Op...,KLDiscovery,"In addition, through its global Ontrack Data R...",
25,Data Analyst,ACV,"MS in a STEM discipline such statistics, compu...",
26,BUSINESS INTELLIGENCE ANALYST,Jamul Casino,"Ability to collect relevant data, structure da...",
27,IGAMING ANALYST,DraftKings,1+ years of business analytics or data science...,
28,Data Analyst,Intellipro Group,Data analysis/business intelligence related: 3...,
29,Business Analyst (must speak Spanish),IntegrateUs Services,Bilingual (English and Spanish).,$50 - $55 an hour
30,Data Analyst,Intellipro Group,Data analysis/business intelligence related: 3...,
31,Business Analyst (must speak Spanish),IntegrateUs Services,Bilingual (English and Spanish).,$50 - $55 an hour
32,Data Analyst Junior (Neuropsychiatry),University of Pennsylvania,Other duties might include: performing data ma...,
33,Systems and Data Analyst,Acutis Diagnostics Inc,Understand manage and architect data flow betw...,
34,Data Analyst- Remote,Next Gear Solutions,Acquire data from primary or secondary data so...,"$55,000 - $85,000 a year"
35,Data Analyst,Brookside Properties,Handle multiple simultaneous data and reportin...,"Up to $55,000 a year"
36,Data Analyst,SEARCH Homeless Services,Be familiar with data modeling.,"$75,000 - $80,000 a year"
37,Junior Data Analyst,OH Predictive Insights,Analyze quantitative research data (including ...,"$36,000 - $42,000 a year"
38,Data Analyst - Office of Financial Aid,Emory University,Creates and maintains a data dictionary and me...,
39,Business Intelligence Analyst,REVOLVE,Generate analysis and develop key insights fro...,
40,Data Analyst - Hotel Analytics and Support,Peachtree Hotel Group,"Extract data from multiple system resources, i...",
41,Health Data Analyst,NextGen information services,Trains and coaches less-experienced healthcare...,"$80,000 - $120,000 a year"
42,Data Analyst (Listings),"reibus International, Inc",Foundational understanding of data and process...,
43,Cannabis Operations & Data Analytics Associate,Sundae School,California-based Cannabis Operations & Data An...,"From $65,000 a year"
44,Jr. Business Analyst,Quantum Technologies Inc.,"Knowledge of business process analysis, requir...","$50,000 - $75,000 a year"
45,Data Analyst,"City of Rochester, NY","PLUS two (2) years of direct, practical experi...","$69,428 - $91,545 a year"
46,Marketing Data Analyst,ROI ADS LLC,"For querying huge data sets, intermediate to a...","$47,115 - $110,957 a year"
47,Apprentice Business Analyst,Public Consulting Group,A detail oriented problem solving approach to ...,Full-time
48,"Data Analyst, Cancer and Mortality Studies",NYC Careers,Facilitate use of matched cancer and mortality...,"$75,504 - $93,776 a year"
49,Data Analyst,VNA & Hospice of the Southwest Region Inc,2-3 year experience working with healthcare da...,$31.77 - $44.48 an hour
50,Research Data Analyst,Stanford University,Analyze data processes in documentation.,Full-time
51,Collections Analyst,PowerSchool Group LLC,1-3 years’ prior experience in a business or d...,Full-time
52,Data Analyst,Boyd Caton Group (bcg),Supporting training for industry stakeholders ...,"$47,500 a year"
53,Data Analyst,Qi Venture Partners,Collecting and reporting new data.,"$60,000 - $70,000 a year"
54,Data Analyst,Shriners Hospitals for Children,Pull and integrate data from disparate sources...,Full-time
55,Data Analyst,EmployIndy,"Prepares reports of data findings, illustratin...",Full-time
56,Junior Data Analyst,CCS Global Tech,"As a junior data analyst, you will manage data...","$60,000 - $65,000 a year"
57,Data Analyst,PointClickCare,Visualize data to develop a better understandi...,Full-time
58,"Data Analyst (Job ID: 51961, Apply by 1/18/22)",Minnesota Department of Transportation,"Gather, format and interpret statistical data;","Up to $75,418 a year"
59,GIS Developer & Data Analyst,"LongPath Technologies, Inc.",Internal data management & streamlining of dat...,"$60,000 - $78,000 a year"

In [119]:
df.to_csv('indeed_jobs.csv', index=False)